<!DOCTYPE html>
<html lang="en">
<head>
	<title>Outside Edge | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="fimage/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(../static/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						{{Table}}
					</span>
				</div>

				<form class="login100-form validate-form" action ="{{ url_for('insert') }}" method="POST">
					{% for field in form %}
                      {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                        {{ field() }}
                      {% else %}
                      <div class="wrap-input100 validate-input m-b-26" data-validate="Detail is required">
						<span class="label-input100">{{ field.label}}</span>
                          {{field}}
                        </div>
                       {% endif %}
                     {% endfor %}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="window.location.href = 'dashboard.html';">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	


</body>
</html>